* {
    border: none;
    margin-bottom: 30px;
}

button:hover {
    cursor: pointer;
}

#uberButton {
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
}

#uberButton:hover {
    opacity: 80%;
}

#amazonButton {
    font-size: 16px;
    font-weight: 500;
    background-color: rgb(255, 216, 20);
    color: black;
    padding: 10px 60px;
    border-radius: 30px;
}

#amazonButton:hover {
    background-color: rgb(236, 182, 18);
}

#githubButton {
    color: white;
    background-color: rgb(46, 164, 79);
    border-radius: 5px;
    padding: 10px 15px;
    font-weight: 600;
}

#githubButton:hover {
    box-shadow: 1px 1px 5px gray;
}

#bootstrapButton1 {
    background-color: rgb(121, 82, 179);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}

#bootstrapButton1:hover {
    background-color: rgb(104, 70, 155)
}

#bootstrapButton2 {
    background-color: white;
    color: rgb(108, 117, 125);
    border: 1px solid rgb(108, 117, 125);
    font-weight: bold;
    border-radius: 5px;
    padding: 9px 19px;
}

#bootstrapButton2:hover {
    color: white;
    background-color: rgb(108, 117, 125);
}

#linkedinButton1 {
    color: white;
    background-color: rgb(10, 102, 194);
    padding: 10px 15px;
    border-radius: 20px;
    font-weight: bold;
}

#linkedinButton1:hover {
    background-color: rgb(8, 85, 161);
}

#linkedinButton2 {
    color: rgb(10, 102, 194);
    padding: 9px 14px;
    border-radius: 20px;
    font-weight: bold;
    background-color: white;
    border: 1px solid rgb(10, 102, 194);
}

#linkedinButton2:hover {
    border: 2px solid rgb(10, 102, 194);
}