.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.leftSection {
    display: flex;
    align-items: center;
    width: 150px;
    align-items: center;
}

.hamburgerMenuIcon {
    height: 24px;
    margin: 0 24px 0 24px;
}

.youtubeIcon {
    height: 20px;
}

.middleSection {
    display: flex;
    align-items: center;
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
}

.searchbar {
    flex: 1;
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    outline: none;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 3px;
    box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.11);
    /* width: 0; */
}

.searchbar::placeholder {
    font-family: Roboto, Arial;
    font-size: 16px;
}

.searchButton {
    height: 40px;
    width: 60px;
    border: 1px solid rgb(194, 194, 194);
    margin-left: -2px;
    margin-right: 6px;
    background-color: rgb(240, 240, 240);
}

.searchButton img {
    height: 25px;
    margin-top: 4px;
}

.voiceSearchButton {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    background-color: rgb(240, 240, 240);
    margin-top: 2px;
}

.rightSection {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 200px;
    flex-shrink: 0;
}

.appsIcon,
.uploadIcon,
.notificationsIcon{
    height: 24px;
    margin-right: 20px;
}
.userIcon {
    height: 32px;
    margin-right:20px ;
}
